<div style="margin:30px 30px;">
    <div class="top-search-section">
        <div class="text-center">
        <h3><i class="fas fa-calendar"></i>　ToDoリストを登録しよう</h3>
        </div>
        <br>
        <!-- <form action="/newthird" method="get" > -->
        <form action="/works/new" method="get" >
        <div class="row">
        <!--
        <div class="col-sm-6">
            <div class="top-page-input">
            <label name="name1">幹部1</label>
            <input type="text" name="name1" class="form-control" style="width:200px;" value="太郎"></input>
            </div>
            <div class="top-page-input">
            <label name="name2">幹部2</label>
            <input type="text" name="name2" class="form-control" style="width:200px;" value="二郎"></input>
            </div>
            <div class="top-page-input">
            <label name="name3">飲み会</label>
            <input type="text" name="name3" class="form-control" style="width:200px;" value="三田"></input>
            </div>
            <div class="top-page-input">
            <label name="name4">予算</label>
            <input type="text" name="name4" class="form-control" style="width:200px;" value="四谷"></input>
            </div>
        </div>
        -->
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6 text-center">
            <div class="top-page-input">
                <label name="start-date">開始日</label>
                <input type="date" name="start-date" class="form-control" style="width:200px;margin:0 auto;" value="2020-11-11"></input>
                <label name="schedule-type">目的</label>
                <select  name="schedule-type" class="form-control" style="width:200px;margin:0 auto;">
                    <option name="baby-vaccination">赤ちゃん予防接種</option>
                    <option name="kids-event-basic">子供イベント運営</option>
                    <option name="kids-bazaar">幼稚園バザー運営</option>
                    <option name="divorce">離婚</option>
                    <option name="wedding">結婚</option>
                    <option name="house_moving">引越し</option>
                    <option name="interior">新居インテリア</option>
                    <option name="myhome">マイホーム購入</option>
                    <option name="old-mansion">中古マンション購入</option>
                    <option name="repair-mansion">マンション修繕工事</option>
                    <option name="inheritance">相続</option>
                    <option name="new-office">オフィス移転</option>
                    <option name="us-company">法人米国進出</option>
                    <option name="german-company">法人ドイツ進出</option>
                    <option name="china-company">法人中国進出</option>
                    <option name="thai-company">法人タイ進出</option>
                    <option name="philippine-company">法人フィリピン進出</option>
                    <option name="it-application">IT導入</option>
                    <option name="it_subsidy">IT補助金</option>
                    <option name="open_restaurant">飲食店開業</option>
                    <option name="open_daycare">デイサービス事業所開設</option>
                    <option name="open_doctor">医院開業</option>
                    <option name="nomikai">飲み会</option>
                    <option name="gassyuku">合宿</option>
                    <option name="article">論文</option>
                    <option name="graduate-america">アメリカ大学院留学</option>
                    <option name="graduate-england">イギリス大学院留学</option>
                    <option name="company-recruit">会社就活準備</option>
                    <option name="kosotsu-recruit">会社高卒採用準備</option>
                    <option name="recruit">就活</option>
                    <option name="normal">自分で作る</option>
                    <!-- <option name=""></option> -->
                </select>
                <div>
                <label name="email">代表者メールアドレス</input>
                <input type="email" name="email" class="form-control" style="width:300px;margin 0 auto;" placeholder="example@example.com"></input>
                </div>
            </div>
        </div>
        </div>
        <br>
        <div class="text-center">
            <input type="submit" value="送信する" class="btn btn-success">
        </div>
        </form>
        <br>
    </div>
    <hr>
    <div class="explanation-area">
        <div class="text-center"><h3><i class="fas fa-mouse-pointer"></i>　使い方</h3></div>
        <br>
        <div class="row text-center">
            <div class="col-sm-6">
                <h6>１：幹事の名前と日程を入力します</h6>
                <img src="https://scheduletask.s3-ap-northeast-1.amazonaws.com/images/usage/Usage1.png" width="80%" style="margin:20px auto;border:1px solid #777;">
                <br><br>
                <p>80日前から始めましょう(要検討箇所)<br><strong style="font-size:24px;">飲み会幹事用のページも作る！</strong></p>
                <br>
            </div>
            <div class="col-sm-6">
                <h6>２：「やること」が自動で出てきます。確認しましょう。</h6>
                <img src="https://scheduletask.s3-ap-northeast-1.amazonaws.com/images/usage/Usage2.png" width="80%" style="margin:20px auto;border:1px solid #777;">
                <br><br><br>
                <p></p>
                <br>
            </div>
            <div class="col-sm-6">
                <h6>３：スケジュールが自動生成されます</h6>
                <img src="https://scheduletask.s3-ap-northeast-1.amazonaws.com/images/usage/Usage3.png" width="80%" style="margin:20px auto;border:1px solid #777;">
                <br>メールアドレスに、ダッシュボードのURLとパスワードが送信されます。<br>
            </div>
            <div class="col-sm-6">
                <h6>４：みんなで一緒に管理しましょう</h6>
                <img src="https://scheduletask.s3-ap-northeast-1.amazonaws.com/images/usage/Usage4.png" width="80%" style="margin:20px auto;border:1px solid #777;">
                <br><br>
            </div>
        </div>
    </div>
</div>