<div style="margin:0px 30px;">
    <div class="text-center">
    <h1>合宿のスケジュールを登録しよう</h1>
    </div>
    <hr>
    <form action="/works/new" method="get" >
    <label name="name1">幹部1</label>
    <input type="text" name="name1" class="form-control" style="width:200px;"></input>
    <label name="name1">幹部2</label>
    <input type="text" name="name2" class="form-control" style="width:200px;"></input>
    <label name="name1">飲み会</label>
    <input type="text" name="name3" class="form-control" style="width:200px;"></input>
    <label name="name1">予算</label>
    <input type="text" name="name4" class="form-control" style="width:200px;"></input>
    
    <br><br>
    <input type="submit" value="送信する" class="btn btn-success">
</div>