<div>
    <div class="top-header-section" style="margin-top:-35px;">
        <div style="padding-left:8.7%;">
            <h3 style="font-height:24px;line-height:48px;color:#444;margin-bottom:44px">いつも毎日、<br>考えているのは、<br>あなたの「やらかし」。</h3>
            <a href="/works/new" class="btn btn-sm btn-danger" style="margin-top:8px;color:white;"><i class="fas fa-chevron-right"></i>　「やらかし」を登録する　</a>
            <br>
            <a href="/templates_category" class="btn btn-sm btn-info" style="margin-top:8px;color:white;"><i class="fas fa-chevron-right"></i>　「やらかす」場面を選ぶ　</a>
            <br>
            <a href="/templates" class="btn btn-sm btn-success" style="margin-top:8px;"><i class="fas fa-chevron-right"></i>　「やらかす」カテゴリーを選ぶ　</a>
        </div>
    </div>
    <div class="top-word-section" style="padding-top:2.4px;">
        <img src="https://scheduletask.s3-ap-northeast-1.amazonaws.com/images/top/ForgetWord.jpg" width="100%">
    </div>
    <div class="top-product-section" style="margin-bottom:14px;">
        <div class="row">
            <div class="col-sm-5" style="padding-top:20px;padding-left:14px;">
                <h3 style="font-size:23px;margin-bottom:21px;"><i class="fas fa-file"></i>　「やらかし」を、管理しよう</h3>
                <br>
                <div style="margin-left:3px;line-height:34px;">
                    <p>
                    ＜「やらかし」防止するための現状の方法を書き出す＞
                    <br><br>
                   ＜サイト名＞で<strong style="font-size:24px;"><u> 2つ </u></strong>のことをするだけで、「やらかし」を予防できます。
                        <ol style="padding:14px 44px 0px 44px;">
                            <li>「やらかし」そうな用事と「日程」を登録</li>
                            <li>「やらかし」そうな用事が近づいているか確認</li>
                        </ol>
                    <div class="top-product-button-group" style="padding-left:54px;">
                        <a href="/works/new" class="btn btn-sm btn-danger" style="margin-top:8px;color:white;"><i class="fas fa-chevron-right"></i>　「やらかし」を登録する　</a>
                        <br>
                        <a href="/templates_category" class="btn btn-sm btn-info" style="margin-top:8px;color:white;"><i class="fas fa-chevron-right"></i>　「やらかす」場面を選ぶ　</a>
                        <br>
                        <a href="/templates" class="btn btn-sm btn-success" style="margin-top:8px;"><i class="fas fa-chevron-right"></i>　「やらかす」カテゴリーを選ぶ　</a>
                    </div>
                    <br>
                    「やらかし」そうな用事に関係するタスクを自動で生成して、知らせてくれるから管理が楽になるよ。
                    </p>
                </div>
            </div>
            <div class="col-sm-7" style="padding-top:87px;">
                <img src="https://scheduletask.s3-ap-northeast-1.amazonaws.com/images/usage/UsageImage1-min.png" style="width:95%;filter: drop-shadow(14px 14px 14px rgba(0,0,0,0.6));">
            </div>
        </div>
    </div>
    <div class="top-search-section">
        <div style="float:right;margin-right:70px;">
            <h3>
                <i class="fas fa-star-half"></i> みんな、知っています。
                <br><span style="padding-left:60px;">やらかした後に見るあの青空を。</span>
            <br>
            <a href="#explanation-first" style="color:#eee;margin-left:84px;margin-top:8px;" class="btn btn-warning btn-sm">私も知っている！</a>
        </div>
    </div>
    <br>
        <div class="text-center">
            <div class="row" style="margin-top:20px;margin-bottom:40px;">
                <div class="col-sm-6" style="margin-top:30px;">
                    <h4 id="explanation-first" style="padding-top:20px"><i class="fas fa-heart-broken"></i>　やらかしをなくせます！</h4>
                    <br>
                    <p class="text-left" style="margin-left:23%;margin-top:10px;">
                    私たちの周りには、<br>
                    <strong>「<u>やらかしてはいけない場面</u>」</strong>があります<br><br>
                    そんな「未来のやらかし」を未然に防ぐのが、<br>
                    <strong style="font-size:30px;">＜サイト名＞</strong><br>
                    です。
                    </p>
                </div>
                <div class="col-sm-6">
                    <img src="https://scheduletask.s3-ap-northeast-1.amazonaws.com/images/top/Top_Explanation1.jpg" style="height:340px;">
                </div>
                <div class="col-sm-6" style="margin-top:40px;">
                    <img src="https://scheduletask.s3-ap-northeast-1.amazonaws.com/images/top/Top_Explanation3.jpg" style="height:340px;">
                </div>
                <div class="col-sm-6" style="margin-top:80px;">
                    <h4><i class="fas fa-expand"></i>　こうやって、やらかしをなくすよ！</h4>
                    <br>
                    <p class="text-left" style="margin-left:11%;margin-top:10px;margin-right:7%">
                        あなたが＜サイト名＞ですることは、2つだけです。<br><br>
                        　１：<strong>「<u>やらかしてはいけない用事</u>」と「<u>日程</u>」</strong>を選ぶこと。<br>
                        　２：<strong>「<u>やらかし候補</u>」</strong>が近いか定期的に見ること。<br><br>
                        <strong>「<u>やらかしてはいけない用事</u>」</strong>は、<a href="/templates/2" class="btn btn-sm btn-warning" style="color:white">結婚</a> から <a href="/templates/15" class="btn btn-info btn-sm" style="color:white;">経理業務</a> まで幅広く選べますよ！
                    </p>
                </div>
                <div class="col-sm-6" style="margin-top:100px;">
                    <h4><i class="fas fa-hashtag"></i>　あなたの助けになります！</h4>
                    <br>
                    <p class="text-left" style="margin-left:23%;margin-top:10px;">
                        <strong><u>「やらかし候補」を潰すお手伝い - それがこのサイトの使命です！</u></strong><br>
                        <strong><u>「やらかし」のない、パーフェクトの人生の始めましょう！</u></strong>
                        <br><br>
                        <a href="/templates" style="color:white;" class="btn btn-sm btn-warning">「やらかし」一覧を見る</a>
                        <br><br>
                        <small>※　加えて欲しい「やらかし」は、<a href="mailto:k-kazuya@coffee-cup.jp">こちらまで</a> 連絡を。</small>
                    </p>
                </div>
                <div class="col-sm-6" style="margin-top:40px;">
                    <img src="https://scheduletask.s3-ap-northeast-1.amazonaws.com/images/top/Top_Explanation2.jpg" style="height:340px;">
                </div>
            </div>
        </div>
    <br>
    <hr>
    <div style="margin:30px 30px;">
        <div class="explanation-area">
            <div class="text-center"><h3><i class="fas fa-mouse-pointer"></i>　使い方</h3></div>
            <br><br>
            <div class="row text-center">
                <div class="col-sm-6">
                    <h5>１：「忘れたらヤバイ！！！」カテゴリーを選びましょう。</h5>
                    <img src="https://scheduletask.s3-ap-northeast-1.amazonaws.com/images/usage/page_1.png" width="80%" style="margin:20px auto;border:1px solid #777;">
                    <br><br><br>
                </div>
                <div class="col-sm-6">
                    <h5>２：「忘れたらヤバイ！！！」内容を選びましょう。</h5>
                    <img src="https://scheduletask.s3-ap-northeast-1.amazonaws.com/images/usage/page_2.png" width="80%" style="margin:20px auto;border:1px solid #777;">
                    <br><br><br>
                </div>
                <div class="col-sm-6">
                    <h5>３：「ヤバイ！！！」を回避するためのタスクが自動生成されます。</h5>
                    <img src="https://scheduletask.s3-ap-northeast-1.amazonaws.com/images/usage/page_3.png" width="80%" style="margin:20px auto;border:1px solid #777;">
                    <br>
                    日程は用途に合わせて調整できます。
                    <br><br><br>
                </div>
                <div class="col-sm-6">
                    <h5>４：登録されました。ログイン情報をメモしましょう</h5>
                    <img src="https://scheduletask.s3-ap-northeast-1.amazonaws.com/images/usage/page_4.png" width="80%" style="margin:20px auto;border:1px solid #777;">
                    <br><br><br>
                </div>
                <div class="col-sm-6">
                    <h5>５：定期的に見て、地雷回避を目指しましょうね！</h5>
                    <img src="https://scheduletask.s3-ap-northeast-1.amazonaws.com/images/usage/page_5.png" width="80%" style="margin:20px auto;border:1px solid #777;">
                    <br><br><br>
                </div>
                <div class="col-sm-6">
                    <h5>！　参考になるページも、表示しますよ！</h5>
                    <img src="https://scheduletask.s3-ap-northeast-1.amazonaws.com/images/usage/page_6.png" width="80%" style="margin:20px auto;border:1px solid #777;">
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>