/* navbar */

.navbar .nav-link{
  color:rgb(234, 234, 234) !important;
}

/* top page */

.top-header-section{
  min-height:700px;
  padding-top:190px;
  background-image: url('https://scheduletask.s3-ap-northeast-1.amazonaws.com/images/common/TopHeaderImage2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 700px;
  width:100%;
  color:black;
}

.top-product-section{
  padding:40px 0px 30px 60px;;
  min-height:300px;
  background-color:rgb(244, 244, 244);
}

.top-search-section{
  min-height:400px;
  padding-top:210px;
  background-image: url('https://scheduletask.s3-ap-northeast-1.amazonaws.com/images/common/TopPageBackground.jpg');
  background-repeat: no-repeat;
  background-size: 100% 400px;
  width:100%;
  color:white;
}

.task {
    background-color: #F4CE46;
  }
  .progress-task {
    background-color: #2A92BF;
  }
  .done {
    background-color: #00B961;
  }

  .kanban-board{
    margin-bottom:20px;
  }

.top-category-card{
  margin-bottom:30px;
}

.schedule-detail-section{
  margin-top:20px;
  margin-left:30px;
}

.task-detail-left{
  background-color:#ccc;
  padding:20px;
  min-height:500px;
}

.calendar-card-btn{
  color:white;
  height:18px;
  font-size:10px;
  padding-top:2px;
}

.visible-calendar{
  display:block;
}

.sd-days{}

.d-day{ display:inline-block; }
.d-hour{ display:inline-block; }
.d-min{ display:inline-block; }
.d-sec{ display:inline-block; }

/*  */

.checklist-item{
  padding:7px 20px;;
}

.checklist-item:hover{
  background:rgb(234, 234, 234);
}

.task-card-title{
  height:57px;
}

.task-card{
  margin-bottom:20px;
  min-height:234px;
}

/* checkbox @tasks-show */

input[type=checkbox] {
  -ms-transform: scale(1.7, 1.7);
  -webkit-transform: scale(1.7, 1.7);
  transform: scale(1.7, 1.7);
}